.manageboard {
  min-height: 100vh;
  background-image: url(/assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .banner {
    text-shadow: 2px 2px #7ddcfa;
  }
}

.manage-item {
  @apply flex flex-row justify-center items-center pb-5;
  .manage-button {
    @apply h-12 w-32;
  }
  .manage-input {
    @apply h-12 w-36  text-2xl ml-5 text-right pr-2 mr-1 text-white;
    border: 1px solid #6666669e;
    margin-right: 10px;
    background: #0000007a;
    outline: none;
  }
}
